<header class="navbar">
  <ul aria-label="Main navigation">
    <li>
      <a href="/" aria-label="dxw Accessibility Manual Homepage"><img src="/assets/images/d-marque.png" role="presentation" alt="" /> dxw Accessibility Manual</a
      >
    </li>
    <li>
      <a href="https://www.dxw.com">dxw.com</a>
    </li>
    <li id="menu-button-item">
      <button class="icon-button" aria-expanded="false" aria-controls="site-navigation" onclick="toggleAriaExpanded(event, 'close', 'menu', 'site-navigation')">
        <span class="material-icons pointer-none">menu</span>
      </button>
    </li>
  </ul>
</header>
