{% assign section_groups_by_navigation_order = site.pages | site_sections | group_by: "navigation_order" | sort: "name" %}
{% assign parent_page = site.pages | parent_of: page %}

  <nav class="navigation" id="site-navigation" aria-label="Site navigation">
    <ul>
      {% for section_group in section_groups_by_navigation_order %}
        {% assign sections_by_title = section_group.items | sort_natural: "title" %}
        {% for section in sections_by_title %}
          <li class="navigation__section-link">
            {% if section.navigation_title %}{% assign navigation_label = section.navigation_title %}{% else %}{% assign navigation_label = section.title %}{% endif %}
            <a href="{{ section.url | relative_url }}" {% if section.url == page.url %}class="current" aria-current="page"{% endif %}>{{ navigation_label }}</a>
              {% assign subsection_groups_by_navigation_order = site.pages | children_of: section | group_by: "navigation_order" | sort: "name" %}
              {% if subsection_groups_by_navigation_order.size > 0 %}
                {% if section.url == page.url or section.url == parent_page.url %}{% assign is_expanded = true%}{% else %}{% assign is_expanded = false %}{% endif %}
                <button type="button" class="navigation__expand-toggle" aria-expanded="{{ is_expanded }}" aria-controls="navigation-subsection-list-{{ forloop.index }}" onclick="toggleAriaExpanded(event, 'Hide', 'Show')">
                  <span class="visually-hidden">{% if is_expanded == true %}Hide{% else %}Show{% endif %}</span>
                  <span class="visually-hidden"> links in {{section.title}} category</span>
                  <span class="arrow pointer-none"></span>
                </button>
                <ul class="navigation__subsection-list" id="navigation-subsection-list-{{ forloop.index }}">
                  {% for subsection_group in subsection_groups_by_navigation_order %}
                    {% assign subsections_by_title = subsection_group.items | sort_natural: "title" %}
                    {% for subsection in subsections_by_title %}
                      {% unless subsection.unrelatable %}
                        <li>
                          <a href="{{ subsection.url }}" {% if subsection.url == page.url %}class="current" aria-current="page"{% endif %}>
                            {{ subsection.title }}
                          </a>
                        </li>
                      {% endunless %}
                    {% endfor %}
                  {% endfor %}
                </ul>
              {% endif %}
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
  </nav>
