<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="icon"  type="image/png" sizes="192x192" href="/assets/images/favicon/favicon-192.png" >
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#243746">
    <meta name="msapplication-config" content="/assets/images/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#f9f8f5">
    <title>
      {% if page.title and page.title != "dxw Accessibility Manual" %}{{ page.title | escape }} - {% endif %}Accessibility Manual - dxw
    </title>

    <link rel="stylesheet" href="/assets/main.css" />
  </head>
  <body>
    <script>
      document.body.className += ' js-enabled';
    </script>
    {% include navbar.html %}
    <main>
      {% include site_navigation.html %}
      {% include page-content.html %}
    </main>
    {% include contribute.html %}
    <script src="/assets/main.js"></script>
  </body>
</html>
