@use "./breakpoints";
@use "./navbar";

* {
  box-sizing: border-box;
}

html {
  scroll-padding-top: calc( navbar.$height + 1.5em );
}

html, body {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;

  @include breakpoints.on-large-screens {
    flex-direction: row;
  }

  @include breakpoints.on-tall-screens {
    margin-top: navbar.$height;
  }
}
