@use "./breakpoints";
@use "./colours";
@use "./typography";

$height: 70px; // Manually measured after layout.

.navbar {
  background-color: colours.$accent-b;
  font-family: typography.$heading-font-family;
  font-weight: typography.$heading-font-weight;
  display: flex;
  justify-content: flex-start;

  @include breakpoints.on-tall-screens {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }

  &-title {
    font-size: 1rem;
    @include breakpoints.on-large-screens {
      font-size: inherit;
    }
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration-line: underline;
      text-decoration-thickness: 0.15em;
      text-decoration-color: colours.$accent-a;
    }

    img {
      margin-right: 0.5em;
      max-height: 30px;
    }
  }

  > ul {
    margin: 1em;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    flex: 1;

    > li {
      margin-bottom: 0;

      &:first-child {
        margin-right: auto;
      }

      &:not(:first-child) {
        margin-left: 2em;
      }
    }
  }

  #menu-button-item {
    margin: -1em -1em -1em 1em;
    display: flex;

    button {
      width: $height;
    }
  }
}

.icon-button {
  background-color: colours.$accent-a;
  border: none;
  color: black;
  cursor: pointer;
}

@include breakpoints.on-large-screens {
  .navbar {
    #menu-button-item {
      display: none;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: 0.5em;
}
