@use "./breakpoints";
@use "./colours";
@use "./typography";

.related {
  width: 100%;
  padding: 1em;
  background-color: colours.$accent-a;
  font-family: typography.$heading-font-family;
  font-weight: typography.$heading-font-weight;
  font-size: 0.9em;
  overflow-y: auto;

  a {
    display: block;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration-line: underline;
      text-decoration-thickness: 0.15em;
      text-decoration-color: colours.$accent-b;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0;
      padding: 0.25em 0;
      white-space: nowrap;
    }
  }

  nav > ul {
    display: flex;
  }

  .related__section-link {
    display: flex;
    flex-wrap: wrap;
    label,
    a {
      display: inline;
      flex: 1;
    }
  }

  .related__section-list {
    display: none;
    margin-left: 1em;
    flex-basis: 100%;
  }

  .related__expand-toggle {
    display: none;
    flex: 0;
    align-self: flex-start;
    background-color: transparent;
    padding: 0.1em 0.32em 0.2em;
    border: 0;
    cursor: pointer;
  }

  .related__expand-toggle[aria-expanded="true"] ~ .related__section-list {
    display: block;
  }

  .arrow {
    border: solid colours.$navy;
    border-width: 0 0.25em 0.25em 0;
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    height: 0.75em;
    width: 0.75em;
    pointer-events: none;
  }

  .related__expand-toggle[aria-expanded="true"] .arrow {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-top: 0.6em;
  }

  .related__expand-toggle:hover {
    .arrow {
      border-width: 0 0.35em 0.35em 0;
    }
  }

  .current {
    text-decoration: underline;
    text-decoration-thickness: 0.15em;
  }
}

.js-enabled {
  .related__expand-toggle {
    display: inline-block;
  }
}

@include breakpoints.on-large-screens {
  .related {
    width: 21em;
    max-width: 30vw;
    height: 100%;
    padding: 1.5em 1em;
    background-color: colours.$cream;

    a {
      margin-bottom: 0.5em;

      &:hover,
      &:focus,
      &:active {
        text-decoration-color: colours.$accent-a;
      }
    }

    ul li {
      white-space: unset;

      &.related__back-link {
        margin-bottom: 1.5em;
      }
    }

    nav > ul {
      display: unset;
    }

    .arrow {
      right: 0;
    }
  }
}
