@use "./breakpoints";
@use "./colours";
@use "./typography";

.navigation {
  background-color: colours.$cream;
  display: none;
  padding: 1.5em 1em;
  transition: height 2s ease-in;
  width: 100%;
  font-family: typography.$heading-font-family;
  font-weight: typography.$heading-font-weight;
  font-size: 0.9em;

  &.expanded {
    display: block;
  }

  a {
    display: block;
    text-decoration: none;
    margin-bottom: 0.5em;

    &:hover,
    &:focus,
    &:active {
      text-decoration-line: underline;
      text-decoration-thickness: 0.15em;
      text-decoration-color: colours.$accent-a;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0;
      padding: 0.25em 3em 0.25em 0;

      &.related__back-link {
        margin-bottom: 1.5em;
      }
    }
  }

  .navigation__section-link {
    position: relative;
    label,
    a {
      display: inline;
    }
  }

  .navigation__subsection-list {
    display: none;
    margin-left: 1em;
  }

  .navigation__expand-toggle {
    display: none;
    background-color: transparent;
    margin: 0;
  }

  .navigation__expand-toggle[aria-expanded="true"]
    ~ .navigation__subsection-list {
    display: block;
  }

  .arrow {
    border: solid colours.$navy;
    border-width: 0 0.25em 0.25em 0;
    padding: 0.25em;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    height: 0.75em;
    width: 0.75em;
    margin-left: 0.625em;
    position: absolute;
    right: 1.5em;
    top: 0.4em;
  }

  .arrow[aria-expanded="true"] {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    top: 0.75em;
  }

  .arrow:hover {
    cursor: pointer;
  }

  .arrow:hover,
  .arrow:focus {
    border-width: 0 0.35em 0.35em 0;
  }

  .current {
    text-decoration: underline;
    text-decoration-thickness: 0.15em;
  }
}

.js-enabled {
  .navigation__expand-toggle {
    display: inline-block;
  }
}

@include breakpoints.on-large-screens {
  .navigation {
    display: block;
    width: 21em;
    max-width: 30vw;
    height: 100%;
  }
}
